.dropdown-menu li{
	padding: 10px;
}
li a{
	text-decoration: underline;
}
.container{margin-bottom: 100px;}
.row{
	padding-top: 100px;
}

.fridge-piece h2{color: purple;}

.fridge-name{padding: 70px 0px 0px 70px;}
.fridge-top{
	width: 400px;
	height: 275px;
	background-image: url('../img/empty-fridge1-top.jpg');
	background-size: cover;
}
.delete{
	float: left;
	color: red;
	cursor: pointer;
}
.selectedBev-div, .newBev-div{
	background-color: white;
	border-radius: 20px;
	opacity: 0.8;
	padding: 5px 10px;
	margin: 25px 30px;
	width: 200px;
	text-align: center;
}
.newBev-div input{
	width: 170px;
	height: 12px;
	font-size: 11px;
}
.newBev-div input[type=submit]{
	margin:0;
	padding: 2px 8px;
	font-weight: 400px;
}
.newBev-div form{margin: 0;}
.selectedBev-div p{
	margin: 1px;
}

.fridge-row{
	width: 315px;
	height: 30px;
	background-image: url('../img/empty-fridge1-middle.png');
	background-size: cover;
	padding: 10px 60px 10px 30px;
}
.fridge-row .selected{opacity:1;}
.blue-background{background-color: blue;}
.red-background{background-color: red;}
.beverage{
	border-radius: 10px;
	color: white;
	opacity: 0.5;
	text-align: center;
	padding: 5px;
	width: 210px;
}
.beverage .name{cursor: pointer;}
.beverage:hover, .beverage:active{opacity:1;}
.upvote, .upvotes, .downvote, .downvotes{
	padding: 0px 5px;
}
.downvote, .upvote{
	border-radius: 20px;
	background-color: white;
	cursor: pointer;
}
.upvote, .upvotes{float: left;}
.upvote{color: blue;}
.downvote, .downvotes{float: right;}
.downvote{color: red;}


.fridge-bottom{
	width: 405px;
	height: 160px;
	background-image: url('../img/empty-fridge1-bottom.png');
	background-size: cover;	
}
.new-beverage{
	width: 100px;
	margin: 30px 50px 20px 80px;
}




